python==3.10.14
langchain==0.1.16
langchain-community==0.0.34
langchainhub
langchain-openai
chromadb
streamlit
pyecharts
langchain_text_splitters
streamlit_echarts
transformers
torch
sentence-transformers
unstructured
tiktoken
dashscope
pymysql
loguru
zipp
markdown
importlib-metadata
python-dateutil
redis
#redis-py 需要通过 git 包安装